.wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 443px;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    justify-items: center;
    height: 70px;
    background-color: #1d2124;
    color: #fff;
    align-items: center;
}

.navigation-bar-background {
    display: flex;
    background-color: #1a1d20;
    height: 70px;
    width: 81px;
}

.navigation-bar-logo {
    display: flex;
    flex-direction: row;
}

.navigation-bar-img {
    width: 27px;
    height: 27px;
    margin: 22px;
    background-image: url(../images/logo-header.png);
    background-size: contain;
}

.navigation-bar-name {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
}

.navigation-bar-links {
    width: 701px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.navigation-bar-search {
    display: flex;
    background-color: #171a1c;
    width: 68px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.navigation-bar-search-img {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
}

.header-bg-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 387px;
    background-image: url(../images/header-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, .5);*/
}

.header-bg-block-name {
    display: flex;
    text-align: center;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
}

.header-bg-block-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.header-bg-block-btn {
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin-top: 44px;
}

.green {
    background-color: #89ca62;
}

.blue {
    background-color: #14b9d5;
    margin-left: 20px;
}

.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-transform: uppercase;
    color: #73cede;
    background-color: #f2f2f2;
    padding-top: 61px;
    padding-bottom: 52px;
    font-weight: 700;
    font-size: 27px;
}

.container-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f2f2;
    height: 1030px;
    font-weight: 700;
    font-size: 27px;
}

.row-1, .row-2, .row-3 {
    display: flex;
    flex-direction: column;
}

.post-images-with-name {
    display: flex;
    flex-direction: column;
    margin: 32px 30px;
}

.inscription {
    background-color: #fff;
    display: flex;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 700;
    color: #353a3d;
    justify-content: center;
}

.container-post-1-img {
    background-image: url("../images/post-1-img.png");
    display: flex;
    width: 370px;
    height: 259px;
}

.container-post-4-img {
    background-image: url("../images/post-4-img.png");
    display: flex;
    width: 370px;
    height: 260px;
}

.container-post-2-img {
     background-image: url("../images/post-2-img.png");
     display: flex;
     width: 370px;
     height: 380px;
 }

.container-post-5-img {
    background-image: url("../images/post-5-img.png");
    display: flex;
    width: 370px;
    height: 247px;
}

.container-post-3-img {
    background-image: url("../images/post-3-img.png");
    display: flex;
    width: 370px;
    height: 290px;
}

.container-post-6-img {
    background-image: url("../images/post-6-img.png");
    display: flex;
    width: 370px;
    height: 380px;
}

.container-clients {
    background-image: url("../images/parallax-bg.jpeg");
    height: 588px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: "item1 item1 item1 item1"
                         "item2 item2 item2 item2"
                         "item3 item4 item5 item6";
    grid-column-gap: 75px;
    grid-row-gap: 55px;
    grid-template-rows: 50px 50px 52px;
    grid-template-columns: 207px 135px 172px 141px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-clients-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    grid-area: item1;
    text-align: center;
}

.line{
    display: grid;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    grid-area: item2;
    margin: 0 auto;
}

.container-clients-client-national {
    background-image: url("../images/national-post.png");
    background-size: cover;
    width: 207px;
    height: 28px;
    grid-area: item3;
}

.container-clients-client-dryme {
    background-image: url("../images/dryme.png");
    background-size: cover;
    width: 135px;
    height: 49px;
    grid-area: item4;
}

.container-clients-client-house {
    background-image: url("../images/house&home.png");
    background-size: cover;
    width: 172px;
    height: 42px;
    grid-area: item5;
}

.container-clients-client-journey {
    background-image: url("../images/journy.png");
    background-size: cover;
    width: 141px;
    height: 52px;
    grid-area: item6;
}

.bg-white {
    background-color: #fff;
}

.container-rated {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.container-rated-latest-1 {
    background-image: url("../images/latest-post-1-img.png");
    height: 190px;
}

.container-rated-latest-2 {
    background-image: url("../images/latest-post-2-img.png");
    height: 190px;
}

.container-rated-latest-3 {
    background-image: url("../images/latest-post-3-img.png");
    height: 190px;
}

.container-rated-latest-4 {
    background-image: url("../images/latest-post-4-img.png");
    height: 190px;
}

.container-rated-latest-5 {
    background-image: url("../images/latest-post-5-img.png");
    height: 190px;
}

.container-rated-latest-6 {
    background-image: url("../images/latest-post-6-img.png");
    height: 190px;
}

.container-rated-latest-7 {
    background-image: url("../images/latest-post-7-img.png");
    height: 190px;
}

.container-news {
    display: grid;
    grid-template-areas: "item1 item1 item1 item2"
                         "item3 item3 item4 item4"
                         "item5 item5 item6 item6"
                         "item7 item8 item8 item8";
    grid-template-rows: 259px 418px 416px 259px;
    grid-template-columns: 277px 277px 277px 277px;
    grid-column-gap: 35px;
    grid-row-gap: 42px;
    justify-content: center;
    align-items: center;
}

.container-news1 {
    grid-area: item1;
    display: flex;
}

.container-news1-img {
    background-image: url("../images/news-post-1-img.png");
    width: 483px;
    height: 259px;
}

.container-news-inscription {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
}

.news-ins1,
.news-ins8 {
    width: 320px;
    height: 181px;
    padding: 41px 24px 37px 30px;
}

.container-news-header {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.news-head1,
.news-head8 {
    margin-bottom: 22px;
}

.container-news-text {
    color: #5b6469;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    line-height: 21px;
}

.container-news2 {
    grid-area: item2;
}

.container-news-header-center {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.container-news2-img {
    background-image: url("../images/news-post-2-img.png");
    width: 277px;
    height: 210px;
}

.news-head2 {
    padding: 14px 41px;
}

.container-news3 {
    grid-area: item3;
    display: flex;
    flex-direction: column;
}

.container-news3-img {
    background-image: url("../images/news-post-3-img.png");
    width: 554px;
    height: 259px;
}

.news-ins3 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.news-head3 {
    margin-bottom: 22px;
}

.container-news4 {
    grid-area: item4;
    display: flex;
    flex-direction: column;
}

.container-news4-img {
    background-image: url("../images/news-post-4-img.png");
    width: 554px;
    height: 259px;
}

.news-ins4 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.news-head4 {
    margin-bottom: 22px;
}

.container-news5 {
    grid-area: item5;
    display: flex;
    flex-direction: column;
}

.container-news5-img {
    background-image: url("../images/news-post-5-img.png");
    width: 554px;
    height: 259px;
}

.news-ins5 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.news-head5 {
    margin-bottom: 22px;
}

.container-news6 {
    grid-area: item6;
    display: flex;
    flex-direction: column;
}

.container-news6-img {
    background-image: url("../images/news-post-6-img.png");
    width: 554px;
    height: 259px;
}

.news-ins6 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.news-head6 {
    margin-bottom: 22px;
}

.container-news7 {
    grid-area: item7;
}

.container-news7-img {
    background-image: url("../images/news-post-7-img.png");
    width: 277px;
    height: 210px;
}

.news-head7 {
    padding: 13px 40px 20px;
}

.container-news8 {
    grid-area: item8;
    display: flex;
}

.container-news8-img {
    background-image: url("../images/news-post-8-img.png");
    width: 483px;
    height: 259px;
}

.footer {
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-areas: "footer1 footer2";
    justify-content: space-around;
    align-items: center;
    margin-top: 71px;
}

.footer-rights {
    font-size: 13px;
    color: #fff;
    grid-area: footer1;
}

.footer-logo {
    grid-area: footer2;
    display: flex;
}

.footer-logo-img {
    background-image: url("../images/logo-footer.png");
    width: 38px;
    height: 24px;
    background-size: contain;

}

.footer-logo-name {
    background-image: url("../images/footer-text.png");
    width: 64px;
    height: 16px;
}